<html>
    <head>
        <meta charset="gbk">
        <title>Git Revision Table</title>
    </head>

    <body bgcolor="#CEFFCE">

        <table style="border-collapse:collapse;">
            <thead>
                <tr style="border-bottom:1px solid black;">
                     <th style="padding:5px;border:1px solid black;">Name</th>
                    <th style="padding:5px;border:1px solid black;">PRD</th>
                    <th style="padding:5px;border:1px solid black;">PRD LAST SUCCESS</th>
                    <th style="padding:5px;border:1px solid black;">PP</th>
                    <th style="padding:5px;border:1px solid black;">PP LAST SUCCESS</th>
                   <th style="padding:5px;border:1px solid black;">QA</th>
                   <th style="padding:5px;border:1px solid black;">QA LAST SUCCESS</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                         <td style="padding:5px;border:1px solid black;">{{ item[0] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[1] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[2] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[3] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[4] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[5] }}</td>
                        <td style="padding:5px;border:1px solid black;">{{ item[6] }}</td>
                    </tr>
                {% end %}
            </tbody>
        </table>

    </body>
</html>
